{
  "api_endpoint" : "http://localhost:18080",
  "username" : "",
  "password" : "",
  "filter_on_type" : [],
  "filter_on_level" : [],
  "swp_file" : "/tmp/notifier.swp",
  "sender_address" : "wandisco.testing@gmail.com",
  "email_addresses": ["mark@wandisco.com", "zz@googlemail.com"],
  "smtp_host" : "smtp.gmail.com",
  "smtp_port" : 587,
  "smtp_username" : "wandisco.testing@gmail.com",
  "smtp_password" : "XXXXXXXXXXX",
  "smtp_starttls" : true,
  "e_mail_subject_label" : ""
}
