{
  "api_endpoint" : "http://localhost:18080",
  "username" : "",
  "password" : "",
  "sender_address" : "foo@gmail.com",
  "email_addresses": ["foo@wandisco.com", "foo@googlemail.com"],
  "smtp_host" : "smtp.gmail.com",
  "smtp_port" : 465,
  "smtp_username" : "wandisco.testing@gmail.com",
  "smtp_password" : "XXXXXX",
  "smtp_ssl" : true,
  "e_mail_subject_label" : ""
}
