{
  "api_endpoint" : "http://localhost:18080",
  "username" : "",
  "password" : "",
  "swp_file" : "/tmp/monitor.swp",
  "sender_address" : "wandisco.testing@gmail.com",
  "email_addresses": ["mark@wandisco.com", "zz@googlemail.com"],
  "smtp_host" : "smtp.gmail.com",
  "smtp_port" : 587,
  "smtp_username" : "wandisco.testing@gmail.com",
  "smtp_password" : "XXXXXXXX",
  "smtp_starttls" : true,
  "actionStoreCurrent" : 200000,
  "actionStoreLargestMigration" : 100000,
  "pendingRegionCurrent" : 400000,
  "pendingRegionMaxMigration" : 100000,
  "retryCountDeltaLimit" : 5,
  "periodBetweenEmail" : 21600,
  "path_disk_space_check" : ["/opt/wandisco", "/var/log/wandisco"],
  "path_disk_space_percentage" : 90,
  "check_for_core_files" : ["/var/log/wandisco"],
  "check_for_log_tmp_files" : ["/var/log/wandisco"],
  "e_mail_subject_label" : ""
}
